<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 col-lg-offset-2">

        <p>
          BESSER is an FNR-funded PEARL project that stands for BEtter Smart Software fastER (BESSER) - An Intelligent low-code infrastructure for smart software. BESSER is hosted via a joint structural collaboration lead by <a style='text-decoration: underline;color: lightblue' href= https://www.list.lu/>LIST</a> and with the participation of <a style='text-decoration: underline;color: lightblue' href= https://www.uni.lu/snt-en/>SnT/UL </a>, it has the aim to combine both strategic research and applied research.
           The results of BESSER will have a strong scientific, technical and economic impact by expanding the number of potential smart software creators, increasing the quality and reducing the time-to-market for this type of software.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          This project can democratize the creation of smart software, a key benefit in the current developers shortage. Moreover, by simplifying the specification and testing of ethical concerns, BESSER can also play a role in the fair use of AI in software, a major societal challenge. Overall, I strongly believe BESSER will significantly improve the competitiveness of Luxembourgian and, in general, European companies in the global market.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://besser.readthedocs.io/en/latest/installation.html" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Installation Instructions
        </a>
      </div>
    </div>
  </div>
</section>
