<!-- Portfolio Grid Section -->
<style>
        /* Add space between list items */
    li {
        margin-bottom: 20px; /* Adjust the value as needed */
    }
</style>
<section id="publications">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>List of scientific publications</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div>
      <ol>
      {% assign year_list = "2040,2039,2038,2037,2036,2035,2034,2033,2032,2031,2030,2029,2028,2027,2026,2025,2024,2023,2022" | split: "," %}
      {% assign type_list = "journal,conference,workshop" | split: "," %}
      {% for y in year_list %}
        {% assign publications_in_year = site.data.publications | where: "year", y %}
        {% if publications_in_year.size > 0 %}
          <h3 style="text-align: center;">{{ y }}</h3>
          {% for t in type_list %}
            {% assign publications_in_type = publications_in_year | where: "type", t %}
            {% if publications_in_type.size > 0 %}
              <h5>{{ t }}</h5>
              {% for publication in publications_in_type %}
                <li>
                  <b>
                    {% if publication.link %}
                    <a href="{{ publication.link }}">{{ publication.name }}</a>
                    {% else %}
                    {{ publication.name }}
                    {% endif %}
                    <br>
                    {{ publication.authors }}
                    <br>
                  </b>
                  {{ publication.info }}
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <hr>
        {% endif %}
      {% endfor %}
      </ol>
    </div>
  </div>
</section>
